* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #333;
}

header {
  background: #0d47a1;
  color: white;
  text-align: center;
  padding: 60px 20px;
}
no
button {
  background: #00c853;
  color: white;
  border: none;
  padding: 12px 25px;
  font-size: 18px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #009624;
}
